.boxes-text {
  &__item {
    margin-bottom: gutter(3);
  }

  &__title {
    color: $black;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: gutter(3) 0 gutter(2);
  }

  &__desc {
    color: $gray_dark;
  }

  &__link {
    color: $primary;
    text-decoration: none;
    transition: $transition;
    font-weight: 400;
    font-size: 15px;
    display: block;
    padding: gutter(2) 0 0;

    i {
      font-size: 14px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
