.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include media("<lg") {
    grid-template-columns: 1fr;
  }

  &__text {
    max-width: gutter(50);
  }

  &__map {
    width: 100%;
    padding-left: gutter(15);
    margin-top: gutter(22);
    position: relative;

    @include media("<lg") {
      padding-left: 0;
      margin-top: gutter(10);
    }
  }

  &__box {
    position: absolute;
    top: 40%;
    left: gutter(6);
    background-color: $primary-dark;
    padding: gutter(3) gutter(4);
    font-weight: $regular;

    @include media("<lg") {
      top: gutter(31.9);
      left: 0;
      width: 100%;
    }

    &-title {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: $bold;
    }

    &-text {
      padding-top: gutter(1);
      display: block;
    }

    &-link {
      color: $white;

      &:hover {
        text-decoration: underline;
        color: rgba($white, 0.7);
      }
    }
  }
}
