.footer {
  background-color: $primary;
  font-size: 14px;
  margin: 0 auto;
  text-align: left;
  line-height: 20px;
  color: $white;
  padding: gutter(3) 0;

  @include media("<md") {
    text-align: center;
  }

  &__copyright {
    font-size: 18px;
    margin-top: $gutter;
    align-items: center;
    display: flex;

    @include media("<md") {
      margin-bottom: gutter(4);
      text-align: center;
      justify-content: center;
    }
  }

  &__logo {
    margin: 0;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: gutter(5);
      width: auto;
    }
  }
}
