.text-img {
  $root: &;

  &--rev {
    #{$root}__content {
      order: -1;

      @include media(">=sm") {
        order: -1;
      }
    }
  }

  &__image-wrapper {
    order: 0;
  }

  &__image {
    width: 100%;

    @include media(">=sm") {
      object-fit: cover;
      object-position: center;
      height: 100%;
    }
  }

  &__content {
    order: 0;
    align-self: center;

    @include media("<md") {
      order: -1;
    }
  }
}
